.search {
    position: relative;
}

.search__input {
    min-width: 300px;
    padding: 16px;
    border-radius: 32px;
    border-color: transparent;
}

.search__icon,
.search__iconCross {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search__iconCross {
    right: 20px;
}